<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="banner_page" frontName="banner_page">
            <module name="TM_BannerModule" />
        </route>
        <route id="testroute" frontName="testroute">
            <module name="TM_BannerModule" />
        </route>
    </router>
</config>
