<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="TM_BannerModule::banners_list"
             title="Banner"
             module="TM_BannerModule"
             sortOrder="0"
             action="tm_banner_module/banner/index"
             parent="Magento_Backend::content_elements"
             resource="TM_BannerModule::banners_list" />
    </menu>
</config>
